.header__default {
    font-weight: 600;
    padding: 5%;
    font-size: 200px;
    margin: 200px 0 50px 0;
}

.header__form {
    font-weight: 600;
    font-size: 200px;
    margin: 0;
    margin-top: -10%;
}