.div__arrows {
    display: flex;
    flex-direction: row;
    margin-bottom: 20%;
    cursor: pointer;
}

.arrow1 {
    animation: colorChange 2s infinite;
    animation-delay: 7.5s;
}

.arrow2 {
    animation: colorChange 2s infinite;
    animation-delay: 4s;
}

.arrow3 {
    animation: colorChange 2s infinite;
    animation-delay: 4.5s;
}

@keyframes colorChange {
    0% {
        filter: invert(69%) sepia(0%) saturate(305%) hue-rotate(210deg) brightness(90%) contrast(98%);
    }

    25% {
        filter: invert(0%) sepia(50%) saturate(7418%) hue-rotate(117deg) brightness(98%) contrast(95%);
    }

    75% {
        filter: invert(69%) sepia(0%) saturate(305%) hue-rotate(210deg) brightness(90%) contrast(98%);
    }

    100% {
        filter: invert(69%) sepia(0%) saturate(305%) hue-rotate(210deg) brightness(90%) contrast(98%);
    }
}