.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25px;
}

.header__nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
}

.header__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.header__link {
    margin: 0 14px;
    line-height: 34px;
    text-decoration: none;
    color: #252927;
    font-weight: 600;
    padding-bottom: 1em;
}

.header__link:hover {
    border-bottom: 2px #252927 solid;
}

.header__link:active {
    border-bottom: 2px #252927 solid;
}

.header__logo {
    margin: auto;
}

.header__loginAndCart {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4em;
    list-style: none;
    padding: 0;
}

.header__loginButton {
    border: none;
    background: none;
    cursor: pointer;
}

.header__price {
    font-size: 25px;
    font-weight: 600;
    color: #F0D35E;
    margin-right: 15px;
}