.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25px;
}

.header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white !important;
    filter: drop-shadow(1px 1px 13px #252927);
    width: 100%;
    padding: 2em 5% 0.5em;
    transition: background-color 0.5s;
}


.header__nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
}

.header__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.header__lang--inactive {
    color: #9F9F9F !important;
    border: none !important;
}

.header__lang--active {
    border-bottom: 2px #252927 solid
}

.header__link {
    margin: 0 14px;
    line-height: 34px;
    text-decoration: none;
    color: #252927;
    font-weight: 600;
    padding-bottom: 1em;
}

.header__link:hover {
    border-bottom: 2px #252927 solid;
}

.header__link:active {
    border-bottom: 2px #252927 solid;
}

.header__logo {
    margin: auto;
}

.header__loginAndCart {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4em;
    list-style: none;
    padding: 0;
}

.header__loginButton {
    border: none;
    background: none;
    cursor: pointer;
}

.header__loginButton:hover {
    filter: invert(67%) sepia(75%) saturate(307%) hue-rotate(355deg) brightness(97%) contrast(94%);
}

.header__loginButton:active {
    filter: invert(94%) sepia(28%) saturate(4498%) hue-rotate(316deg) brightness(111%) contrast(88%);
}

.header__price {
    font-size: 25px;
    font-weight: 600;
    color: #F0D35E;
    margin-right: 15px;
}