.product__card {
    padding: 2em;
}

.product__image {
    width: 100%;
}

.product__price {
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.product__shoppingTab {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.product__cart {
    margin-bottom: 2em;
    cursor: pointer;
}

.product__count {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.product__count:nth-child(1) {
    margin-bottom: 1em;
}


.product__counterButton {
    border: none;
    font-family: "Lato", sans-serif;
    background-color: white;
    font-size: 26px;
    cursor: pointer;
}

.product__name {
    color: #9F9F9F;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

.disabled {
    color: #9F9F9F;
    cursor: default;
}

.cart__disabled {
    filter: invert(69%) sepia(0%) saturate(305%) hue-rotate(210deg) brightness(90%) contrast(98%);
    cursor: default;
}
