.section {
    background-repeat: no-repeat;
    background-size:  cover;
    padding: 5%;
}

.section__header {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    display: block;
    margin-top: 15%;
}
