.section {
    background-repeat: no-repeat;
    background-size:  100% 100%;
    padding: 5%;
}

.section__header {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    display: block;
    margin-top: 15%;
}

.section--about {
    margin-top: -5px;
    padding: 5%;
}

.section__header--about {
    margin: 0;
    margin-bottom: 2em;
    font-size: 45px;
}

.section__paragraph--about {
    font-weight: 700;
    line-height: 1.5em;
}
