html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #252927;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 600;
}