.popup__container {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup__content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: auto;
    max-height: 80vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    box-shadow: 7px 4px 37px -9px rgba(66, 68, 90, 1);
    padding: 40px;
    overflow: auto;
}

.popup__closeIcon {
    cursor: pointer;
    display: block;
    background-color: #fff;
    border: none;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 1em;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.form__loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}